<title>Todo App </title>
<h1>Todo App</h1>
<p>to-do's</p>

<% @todos.each do |t| %>
  <li>
    <%= t.name %>
    <small><%= link_to "Mark as completed", todo_path(t), :method => :put  %> </small>
    <% if can? :edit, t %>
      <small><%= link_to "Edit", edit_todo_path(t) %> </small>
    <% end %>
  </li>

<% end %>

<p> completed to-do's <p>

<% @completes.each do |t| %>
  <li>
    <%= t.name %>
    <small><%= link_to "Remove", t, :confirm => "Remove this from the list?", :method => :delete  %> </small>
  </li>

<% end %>


<%= link_to "add To-do´s here", new_todo_url %>
